/* header section */
header {
    display: flex;
    background-color:grey;
    height: 3rem;
    padding: 1rem;
}

.logo {
    background-color: blue;
    height: 100%;
    width: 3rem;
}

.company-name {
    background-color:red;
    height: 100%;
    flex-grow: 1;
}

.social-container {
    background-color: aqua;
    height: 100%;
    width: 9rem;
}

/* nav section */

nav {
    background-color: brown;
    text-align: right;
    padding: 1.2rem 0.75rem;
}


.splash {
    background-color: cornflowerblue;
    position: relative;
}
.splash-img {
    background-size: 80%;
    background-color: coral;
    background-image: url(../pets.jpeg);
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
}

.splash-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}


